<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatMouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94E0CF381580853C0093842A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA307FBE181265D300BB381A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA307FE9181267F200BB381A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAF381818D58B003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAF491818D5A7003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAF581818D5B1003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAF6C1818D5C3003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAF801818D6EC003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8EAFA21818DADE003A4C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABE4DCF1818DC3A002A8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABE4DE41818DC7A002A8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABE4E071818DF6D002A8BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
